td {
    margin: auto;
    width: 80px;
}
.mdl-cell {
    text-align: -webkit-center;
    display: inline-table;
}
.colorButton:hover {
    background-image: none !important;
}
.colorButton:enabled:active {
    background-image: none !important;
}

#previews {
    padding:5px;
}
.mdl-layout__tab-panel:not(#fixed-tab-1) {
    padding:5px;
}
.demoing{
    display: inline-block;
    margin-top :5px;
}

#other, #other_input {
    margin: 15px;
}

* {
     font-family: Verdana, Geneva, sans-serif;
 }

 .demo-card-square.mdl-card {
     width: 320px;
     height: 320px;
 }
.demo-card-square > .mdl-card__title {
    color: #fff;
    background: bottom right 15% no-repeat #46B6AC;
}
.cur_but {
    text-align: center;
}